*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;

   transform: translate(-50%, -50%);

}

.pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  animation: frames 1.2s  linear 0s infinite;
}

/* AnimationFrames */
@keyframes frames{
  0% {
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(20deg);
  }
  50%{
      transform: rotate(0deg);
  }
  75%{
      transform: rotate(-20deg);
  }
  100%{
      transform: rotate(0);
  }
}